#menu-target {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.jPanelMenu-panel {
  box-shadow: black 2px 2px 10px;
  transition: all 450ms;
  background-color: white !important;
  min-height: 100%;
}

#jPanelMenu-menu {
  background-color: #222;
  overflow: hidden;
  overflow-y: hidden !important;
  ul {
    padding:0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    i {
      padding: 0 15px;
      color: $ruby;
      font-style: normal;
      @include font-size(16);
    }
    a {
      display: block;
      color: #ffffff;
      font-family: $sans;
      font-weight: 400;
      border-bottom: 1px solid lighten(#222,5%);
      padding: 10px;
      @include font-size(18);
      &:hover {
        border-bottom: 1px solid darken($light-grey,50%);
        background: darken(#333,5%);
      }
    }
  }
  hr {
    margin: 20px auto;
    width: 40%;
  }
}

.primer {
  padding: 25px;
  border-bottom: 1px solid lighten(#222,5%);

  p {
    color: rgba(255,255,255,0.75);
    font-family: $sans;
    font-weight: 400;
    line-height: 1.45;
    @include font-size(14);
    margin-bottom: 0;
  }
}

.menu-trigger {
  top: 30px;
  left: 0;
  z-index: 1080;
  position: absolute;
  display: block;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
  padding-left: 5px;
  line-height: 1;
  border-radius: 0 3px 3px 0;

  span {
    height: 5px;
    width: 28px;
    float: left;
    display: block;
    margin: 0;
    background: white;
  }

  i.navicon {
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 25px;
    margin: 10px 13px 10px 13px;
	  transition: all 0.2s ease-in-out;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  .cm_icon {
    width: 300px;
    height: auto;
    margin: 15px 15px 12px 15px;
    transition: all 0.2s ease-in-out;

    .cm_fill {
      fill: rgba(255,255,255,0.5);
  	  transition: all 0.2s ease-in-out;

      &:hover {
        fill: rgba(255,255,255,1);
      }
    }

    .rbf {
      fill: $brand-color;
    }

    .wf {
      fill: #ffffff;
    }

    &:hover {
      opacity: .65;
    }
  }

}



.menu-triggered {
  bottom: 30px;
  left: 0;
  z-index: 1080;
  position: absolute;
  display: block;
  cursor: pointer;
  background: rgba(0,0,0,0.5);
  padding-left: 5px;
  line-height: 1;

  span {
    height: 5px;
    width: 28px;
    float: left;
    display: block;
    margin: 0;
    background: white;
  }

  i.navicon {
    display: block;
    color: rgba(255,255,255,0.5);
    font-size: 25px;
    margin: 10px 13px 10px 13px;
	  transition: all 0.2s ease-in-out;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  .cm_icon {
    width: 30px;
    height: auto;
    margin: 10px 10px 8px 10px;

    .cm_fill {
      fill: rgba(255,255,255,0.5);
  	  transition: all 0.2s ease-in-out;

      &:hover {
        fill: rgba(255,255,255,1);
      }
    }
  }

}
