<div id="menu-target">
    <div class="primer">
      <p>Curiosity Motive is a collective of creative developers. We hope to inspire by talking about our successful and not so successful experiments and the creative processes around them.</p>
      <p>Our opinions are our own. Always experiment.</p>
    </div>
    <ul>
        {% for page in site.nav_list %}
            <li><a href="{{ page[1][1] | prepend: site.baseurl }}"><i class="fa {{ page[1][2] }}"></i> {{ page[1][0] }}</a></li>
        {% endfor %}
    </ul>

    <div class="social">
      <ul>
        <li><a href="https://www.twitter.com/curiositymotive/"><i class="fa fa-twitter fa-3x"></i></a></li>
        <li><a href="https://www.instagram.com/curiositymotive/"><i class="fa fa-instagram fa-3x"></i></a></li>
        <li><a href="https://www.facebook.com/CuriosityMotive/"><i class="fa fa-facebook fa-3x"></i></a></li>
        <li><a href="http://www.curiositymotive.com/feed.xml"><i class="fa fa-rss fa-3x"></i></a></li>
      </ul>
    </div>
</div>
