/* Global */

.left-container {
  margin-left: 15px;
  padding-left: 0;
  @include breakpoint(only-sm) {
    max-width: 100%;
    width: 100%;
  }
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-right {
  padding-right: 0;
}

html,
body {
  font-size: 62.5%;
  @include breakpoint(md) {
    height: 100%;
  }
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

img {
  max-width: 100%;
}

.sitelogo {
  display: block;
  width: 60%;
  margin: 0 auto;

  @include breakpoint(sm) {
    display: inline-block;
    max-width: 60%;
  }

  @include breakpoint(med) {
    display: inline-block;
    max-width: 75%;
  }
}

main {
  display: block;
}

a {
  color: #999999;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #333333;
    border-bottom: solid 1px #999999;
  }
}
