---
layout: with-sidebar
---

{% assign author = site.data.authors[page.author] %}

<div class="author-bio">

    <img src='{{ "https://s.gravatar.com/avatar/" | append : page.author_avatar | prepend: site.baseurl }}?s=300.jpg'>

    <div class="author-bio__info">
        <h1>{{ author.display_name }}</h1>
        {{ content }}
    </div>
</div>

<h2 class="favorites">Posts by {{ author.name }}</h2>

<div class="posts-block animated fadeIn ">

    {% assign posts = (site.posts | where: "author_name" , page.author_name) %}
    {% for post in posts %}
    <article class="post author-page">
        <div class="post-preview col-xs-12  no-gutter">
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          {% if post.blurb %}
            <p>{{ post.blurb }}</p>
          {% else %}
            {{ post.excerpt | truncatewords: 28 }}
          {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
