---
layout: with-sidebar
---

<div class="author-bio">

    <img src='{{ "https://s.gravatar.com/avatar/" | append : page.author_avatar | prepend: site.baseurl }}?s=300.jpg'>

    <div class="author-bio__info">
        {{ content }}
    </div>
</div>

<h2 class="favorites">Featured posts</h2>

<div class="posts-block animated fadeIn ">

    {% for post in page.fav_posts %}
    <article class="post author-page">
        <div class="post-preview col-xs-12  no-gutter">
            <h2><a href="{{ post[1][1] | prepend: '/' | prepend: site.baseurl }}">{{ post[1][0] }}</a></h2>
            <p>{{ post[1][2] }}</p>
        </div>
    </article>
    {% endfor %}
</div>
