---
layout: with-sidebar
---

<div class="category_header">
  <h1>{{ page.title }}</h1>
  <p class="description">{{ page.desc }}</p>
</div>

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
</div>

<div class="category-page-posts animated fadeIn ">

    {% for post in site.categories.[page.category] %}
    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">

        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        {% if post.blurb %}
          <p>{{ post.blurb }}</p>
        {% else %}
          {{ post.excerpt | truncatewords: 28 }}
        {% endif %}

        <p class="meta">
          <i class="fa fa-bolt metaicon"></i> <a href="{{ post.author_url | | prepend: '/' | prepend: site.baseurl }}">{{ post.author_name | capitalize }}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize}}</a>
        </p>

        </div>

        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src='{{ "/img/" | append: post.author_avatar | prepend: site.baseurl }}.jpg' class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}

    </article>

    {% endfor %}
</div>
